<div class="page-home">
	<div class="hero">
		<div class="hero-content">
			<h1 class="title">Manage <strong>Server</strong></h1>
			<p>To get started with Dyno, select the server that you would like to manage.</p>
			<div class="manage-guilds">
				{{#each guilds}}
					<div class="guild">
						<div class="guild-icon">
							<a href="/manage/{{this.id}}" title="{{this.name}}" {{#unless this.icon}}data-initials="{{this.initials}}"{{/unless}}>
							{{#if this.icon}}
								<img src="https://cdn.discordapp.com/icons/{{this.id}}/{{this.icon}}.png?size=64" />
							{{/if}}
							</a>
						</div>
						<h4>
							<a href="/manage/{{this.id}}" title="{{this.name}}">{{this.name}}</a>
						</h4>
					</div>
				{{/each}}
			</div>
			{{>carbon}}
		</div>
	</div>

	<div class="home">
		<div class="home-content">
			{{!-- <h3>Features</h3>
			<div class="features">
				<div class="feature">
					<h4 class="feature-moderation">Moderation</h4>
					<div class="feature-body">
						<p>Moderation with mod logs, timed mutes and bans. Auto moderation/anti-spam, fully configurable.</p>
					</div>
				</div>
				<div class="feature">
					<h4 class="feature-dashboard">Web Dashboard</h4>
					<div class="feature-body">
						<p>A feature-rich, configurable web dashboard. You can easily enable, disable, and configure everything.</p>
					</div>
				</div>
				<div class="feature">
					<h4 class="feature-music">Music Player</h4>
					<div class="feature-body">
						<p>Configurable music player, with playlists, DJ roles, track lists, and more.</p>
					</div>
				</div>
				<div class="feature">
					<h4 class="feature-more">Much More</h4>
					<div class="feature-body">
						<p>Auto Roles, Custom Commands, Announcements, Joinable Ranks, AFK Status, Reminders, and much more.</p>
					</div>
				</div>
			</div> --}}
		</div>
	</div>
</div>