<div id="module-customcommands" class="tab-content">
	<h3 class="title is-4">Custom Commands</h3>

	{{>moduleheader}}

	<div class="settings-top has-tabs">
		{{>moduletoggle}}
		<div class="tabs">
		  <ul>
		    <li class="is-active"><a href="#/customcommands-add" class="subtab-control">Add Command</a></li>
		    <li><a href="#/customcommands-list" class="subtab-control">Commands</a></li>
				 <li><a href="#/customcommands-variables" class="subtab-control">Advanced Variables</a></li>
		  </ul>
		</div>
	</div>

	<div id="customcommands-add" class="subtab-content is-active">
		<div class="settings-content">
			<form class="new-command">
				<label class="label">Command</label>
				<p class="control has-addons">
					<label class="label">{{@root.server.prefix}}</label>
					<input class="input" name="command" type="text" value="" pattern="^[a-z][a-zA-Z0-9\-\_\+]{1,72}" title="Command name should start with an alpha character and only contain alphanumeric characters and -_+" maxlength="72" required>
				</p>
				<p class="control">
					<label class="label">Response</label>
					<textarea class="input" name="response"></textarea>
				</p>
				<p class="control">
					<a class="button is-info">Add</a>
				</p>
				{{>variables}}
				<p class="help-text"> </br>
				</p>
			</form>
		</div>
	</div>

	<div id="customcommands-list" class="subtab-content">
		<div class="settings-content">
		{{#unless @root.server.customcommands}}
			<h4>There are no commands.</h4>
		{{/unless}}
		{{#if @root.server.customcommands}}
		<div id="commandList">
			<p class="control">
				<input class="input search" placeholder="Search" type="text" value="" title="Search">
			</p>
			<table class="table is-striped">
				<thead>
					<tr>
						<th>Command</th>
						<th>Response</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="list">
					{{#each @root.server.customcommands.commands}}
						<tr>
							<td class="cmd-name">{{@root.server.prefix}}{{this.command}}</td>
							<td class="cmd-response"><code class="command-response">{{this.response}}</code></td>
							<td>
								<a class="button is-info command-edit" href="#" data-command="{{this.command}}" data-response="{{this.response}}">Edit</a>
								<a class="button is-danger command-remove" href="#" data-command="{{this.command}}">Remove</a>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<nav class="pagination" role="navigation" aria-label="pagination">
				<ul class="pagination-list"></ul>
			</nav>
		</div>
		{{/if}}
		</div>
	</div>

	<div id="customcommands-variables" class="subtab-content">
		<div class="settings-content">
			<strong>Note:</strong> 
			Command responses need to be multi-lined. For example:<br/>
			<code class='command-response'>{delete}
{!role {user} +Member}</code>
			Not:
			<code class='command-response'>{delete} {!role {user} +Member}</code>
			{{>advancevariables}}
			<p class="advhelp-text">
			
		</div>
	</div>
	<div class="modal edit-command-modal">
		<div class="modal-background"></div>
		<div class="modal-content">
			<label class="label">Command</label>
			<p class="control has-addons">
				<label class="label">{{@root.server.prefix}}</label>
				<input class="input" name="command" type="text" disabled="disabled" pattern="[a-zA-Z0-9\-\_\+]" title="Command name should start with an alpha character and only contain alphanumeric characters and -_+" maxlength="72">
			</p>
			<p class="control">
				<label class="label">Response</label>
				<textarea class="input" name="response"></textarea>
			</p>
			<p class="control">
				<a class="button is-info command-save">Save</a>	
			</p>
			<p class="help-text"> </br>
			</p>
		</div>
		<button class="modal-close edit-command-modal is-large" aria-label="close"></button>
	</div>
</div>
